.post-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;

}

.icon-container {
  // width: 7%;
  // margin: 0 1ch 0 auto;
  // justify-self: flex-end;


}

.post-identifier {
  background-color: green;
  width: 1.5%;
  justify-self: flex-end;
  border-radius: 0 13px 0 0;
  //height: 2ch;
  
}

.header-info {
  width: 85%;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1ch 0 0 1ch;
}