$question-color: darkgoldenrod;
$fbrequest-color: blue;
$comment-color: black;
$insight-color: darkcyan;
$announcement-color: crimson;
$answer-color: #00203FFF;

@mixin postColor () {
  
}

.post-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;

}

.icon-container {
  // width: 7%;
  // margin: 0 1ch 0 auto;
  // justify-self: flex-end;


}

.post-identifier {
  width: 1.5%;
  justify-self: flex-end;
  border-radius: 0 13px 0 0;
  //height: 2ch;
  
}


.header-info {
  width: 85%;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1ch 0 0 1ch;
}

.question {
  border-color: $question-color;
}

.fbrequest {
  border-color: $fbrequest-color;
}

.comment {
  border-color: $comment-color;
}

.insight {
  border-color: $insight-color;
}

.announcement {
  border-color: $announcement-color;
}

.answer {
  border-color: $answer-color;
}

#question {
 background-color: $question-color;
}

#fbrequest {
  background-color: $fbrequest-color;
}

#comment {
  background-color: $comment-color;
}

#insight {
  background-color: $insight-color;
}

#announcement {
  background-color: $announcement-color;
}

#answer {
  background-color: $answer-color;
}