$question-color: #022b3a;
$feedback-color: #FAC600;
$comment-color: #2e1f27;
$insight-color: #9e7b9b;
$announcement-color: #b02e0c;
$answer-color: #1c3a13;
$response-color: #385f71;

@mixin postColor () {
  
}

.post-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;

}

.icon-container {
  // width: 7%;
  // margin: 0 1ch 0 auto;
  // justify-self: flex-end;


}

.post-identifier {
  width: 1.5%;
  justify-self: flex-end;
  border-radius: 0 13px 0 0;
  //height: 2ch;
  
}


.header-info {
  width: 85%;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1ch 0 0 1ch;
}

.question {
  border-color: $question-color;
}

.fbrequest {
  border-color: $feedback-color;
}

.comment {
  border-color: $comment-color;
}

.insight {
  border-color: $insight-color;
}

.announcement {
  border-color: $announcement-color;
}

.answer {
  border-color: $answer-color;
}
.response {
  border-color: $response-color;
}

#question {
 background-color: $question-color;
}

#feedback {
  background-color: $feedback-color;
}

#comment {
  background-color: $comment-color;
}

#insight {
  background-color: $insight-color;
}

#announcement {
  background-color: $announcement-color;
}

#answer {
  background-color: $answer-color;
}
#response {
  background-color: $response-color;
}