.sort-posts{
  width: 60%;
  display: flex;
  justify-content: space-between;
  border: solid 1px gray;
  border-radius: 30px;
  padding: 2px 2px 2px 2px;
  margin: auto;


  .button {
    // custom button styles here
  }
}