.discussion-page {
  width: 84vw;
  border: solid 1px black;
  margin: auto;

  .post-feed {
    max-width: 60vw;
    min-width: none;
    border: dashed 2px blueviolet;
    
  }

  .options{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.discussion-board {
  display: flex;
  flex-direction: row;
  max-width: 80vw;
  min-width: 40vw;
  margin: auto; 
}

.visible {
  width: 40vw;
  border: dashed 2px darkgreen;
}

.hidden {
  display: none;
}
