$background-color: #f3f3f3;
.discussion-page {
  width: 80%;
  margin-right: auto;
  margin-left: 15%;
  background-color: $background-color;
  .post-feed {
    width: 100%;
    background-color: $background-color;

    .feed-columns {
      display: flex;
      flex-direction: row;
      background-color: $background-color;
    }
  }

  .options{
    width: 13%;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
  }
}

.discussion-board {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto; 
  background-color: $background-color;
   
}

.visible {
  width: 100%;
  min-width: 40%;


}

