.discussion-page {
  width: 84%;
  border: solid 1px black;
  margin-right: auto;
  margin-left: 8%;

  .post-feed {
    max-width: 100%;
    min-width: 40%;
    border: dashed 2px blueviolet;
    
  }

  .options{
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.discussion-board {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto; 
  border: solid 1px darkred; 
}

.visible {
  width: 100%;
  border: dashed 2px darkgreen;
}

.hidden {
  display: none;
}
