@mixin mainStyles {
    width: 60%;
    margin: auto;
    
}

.homepage {
    background-image: url('../../assets/pngegg.png');
    background-repeat: no-repeat;
    // background-color: #eec04bb2;
    padding-top: 2%;

    
    .banner {
        text-align: center;
        font-size: 48px;
        letter-spacing: 0.1ch;
        width: 60%;
        margin: 1rem auto 1rem auto;
        
    }

    .overview {
        @include mainStyles();
    }
    
    .whyWaggle {
        @include mainStyles();
        
    }
    
    .background{
        @include mainStyles();
        
    }
    
    .comingSoon {
        @include mainStyles();

    }
    
    p {
        margin: 0 auto 2ch 5%;
        font-size: 18px;
    }

}

.textContent {
    //background-image: linear-gradient(to bottom right, #eec04b, white);
    background-color: #ffffffc7;
    width: 60%;
    margin: 2% auto 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 20px;
 
}

.bgColor {
    background-image: radial-gradient(
        circle at top left, #FAC600, rgba(255, 255, 255, 0) 50%);
}

