@mixin mainStyles {
    width: 60%;
    margin: auto;

}

.homepage {
    background-image: linear-gradient(to top left, #eec04b, white);
    height: 100vw;
   


    .banner {
        text-align: center;
        font-size: 48px;
        letter-spacing: 0.1ch;
    }

    .overview {
        @include mainStyles();
    }
    
    .whyWaggle {
        @include mainStyles();
        
    }
    
    .background{
        @include mainStyles();
        
    }
    
    .comingSoon {
        @include mainStyles();

    }
    
    p {
        margin: 0 auto 2ch 5%;
        font-size: 18px;
    }

    .image {
        position: relative;
        z-index: 0;
        display: inline;
    }
}


