.create-post {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  border: solid 1px black;
  border-radius: 15px;
  padding-bottom: 1rem;

  h3 {
    width: 100%;
    padding-left: 0.5ch;
  }

  .button {
    margin: 1rem auto auto 1rem;
    width: 80%;
  }
}