.profileInfo {
  width: 30%;
  border: dotted 2px blueviolet;
  margin: 0 auto 0 10%;


  .profile-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .button-box {
    border: solid 2px darkcyan;
  }

  input {
    width: 80%;
    margin: 2ch auto 0 auto;
    
  }
  
}