/* Provide sufficient contrast against white background */
@import '../node_modules/normalize-scss/sass/normalize/import-now';
// @include normalize();
$background-color: #f3f3f3;
a {
  color: black;
  text-decoration: none;
}

.parent {
  background-color: $background-color;
}