.discussion-feed-item {
  width: 60%;
  margin: auto;
  border: solid 2px black;
  border-radius: 15px;

  @media (min-width: 80%) {
    .discussion-feed-item {width: 85%;}
  }

  @media (max-width: 80%) {
    width: 60%;
  }

  .content {
    margin: auto;
    height: auto;
    max-height: 15ch;
    padding: 1ch;
    overflow: auto;
  }

  .footer {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px black;

    .upload {
      width: 75%;
      margin: 1rem auto 1rem 1rem;
      border-radius: 10px;
    }

    .feed-item-btn {
      width: 20%;
      align-self: flex-end;
      margin: 1rem 1rem 1rem auto;
      border-radius: 10px;
      background-color: black;
      color: white;
    }
  }
}

.discussion-feed-item:hover {
  border-color: #883f2e;
  background-color: rgba(255, 225, 0, 0.16);
}