$question-color: #022b3a;
$feedback-color: #FAC600;
$comment-color: #2e1f27;
$insight-color: #9e7b9b;
$announcement-color: #b02e0c;
$answer-color: #1c3a13;
$response-color: #385f71;


.discussion-feed-item {
  // width: 60%;
  margin: 2ch auto;
  border: solid 2px;
  border-radius: 15px;

  .content {
    margin: auto;
    height: auto;
    max-height: 18ch;
    min-height: 10ch;
    padding: 1ch;
    overflow: auto;
  }


  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 1px black;
    min-height: 1.5ch;

    .btnContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .upload {
      width: 75%;
      margin: 1rem auto 1rem 1rem;
      border-radius: 10px;
    }

    .feed-item-btn {
      width: 20%;
      align-self: flex-end;
      margin: 1rem 1rem 1rem auto;
      border-radius: 10px;
      background-color: black;
      color: white;
      padding: 0.5ch 0 0.5ch 0;
    }
  }
}

.wide {
  width: 85%;
  
}

.normal {
  width: 60%;
}

.discussion-feed-item:hover {
  border-color: #0a0200;
  background-color: #fac80021;
}

.question {
  border-color: $question-color;
}

.feedback {
  border-color: $feedback-color;
}

.comment {
  border-color: $comment-color;
}

.insight {
  border-color: $insight-color;
}

.announcement {
  border-color: $announcement-color;
}

.answer {
  border-color: $answer-color;
}

.response {
  border-color: $response-color;
}

$question-color: #022b3a;
$feedback-color: #FAC600;
$comment-color: #2e1f27;
$insight-color: #9e7b9b;
$announcement-color: #b02e0c;
$answer-color: #1c3a13;
$response-color: #385f71;