$primary-color: black;
$secondary-color: #FAC600;
.class-nav {
    width: 8%;
    height: 100%;
    margin: auto auto auto auto;
    justify-content: center;
    
    float: left;   
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }

  .addClass {

  }

  .joinHive {

  }


.btn {
  width: 50%;
  background-color: $secondary-color;
  border-radius: 10px;
  font-size: small;
  margin: 0 auto 2ch 7%

}