

.login-form {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    margin: auto;
    
    
    & input {
        width: 60%;
        margin-top: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 1ch;
    }

    & .send-login {
        cursor: pointer;
        background-color: lightseagreen;
        color: white;
        border-radius: 5px;
        width: 15%;
        align-self: flex-end;
        margin-right: 20%;
    }
}


