$btnColor: #FAC600;
$border-color: #19180A;
$text-color: #19180A;
$background-color: #f3f3f3;
.discussion-post {
  // width: 60%;
  margin: 2ch auto 2ch auto;
  border: solid 2px $border-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;


  .enter-text{
    margin: auto;
    width: 100%;
    border:none;
    padding: 1ch 0 0 1ch;
    min-height: 8vh;
    overflow: auto;
    outline: none;
    resize: none;
    background-color: $background-color;

  }

  .post-button {
    background-color: $btnColor;
    width: 15%;
    align-self: flex-end;
    margin: 0 auto 2ch 75%;
    border-radius: 10px;
    padding: 1ch 0 1ch 0;
    border: solid 1px $border-color ;
  }
}

.wide {
  width: 85%;
}

.normal {
  width: 60%;
}