$primaryTableColor: rgb(174, 174, 174);
$secondaryTableColor: rgb(1, 63, 63);
$btnHoverColor: rgba(101, 101, 101, 0.81);
$rowHoverColor: cadetblue;


@mixin btns($bgColor, $txtColor) {
  background-color: $bgColor;
  color: $txtColor;
  height: 4ch;
  width: 100%;
  margin: 0 auto 0 auto;
  padding-left: 0;
  font-size: 2em;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  width: 100%;
  
}

.studentTable {
  width: 100%;
  margin: 0 10% 0 auto;
  
}

.enrollment {
  
}

.roleBtn {
  @include btns($primaryTableColor, $secondaryTableColor)
}

.roleBtn:hover{
  background-color: $btnHoverColor;
}

.enrollBtn{
  @include btns($primaryTableColor, $secondaryTableColor)
}

.enrollBtn:hover{
  background-color: $btnHoverColor;
}

table {
  
  
}

tbody {
  width: 100%;
  

  tr:nth-child(odd) {
    background-color: $secondaryTableColor;
    color: $primaryTableColor;
  }

  tr:hover{
    background-color: cadetblue;
  }
}

th {
  
}
 
tr {

  width: 100%;
}

td {
  text-align: left;
  height: 4ch;
  border-collapse: collapse;
  padding-left: 2ch;
}

.studentTable > th, td {
  // border: 1px solid black;
}