.tableContainer {
  width: 100%;
  border: dotted 2px cornflowerblue;
}

.studentTable {
  width: 100%;
  margin: 0 10% 0 auto;
}

tr {
 
  width: 100%
}

td {
  
  justify-content: space-between;
}

.studentTable > table, th, td {
  border: 1px solid black;
}