$primaryTableColor: #f3f3f3;
$secondaryTableColor: #FAC600;
$btnColor: #19180A;
$btnHoverColor: #fae281cc;
$rowHoverColor: #d48c14;


@mixin btns($bgColor, $txtColor) {
  border: solid 1px $bgColor;
  margin: 0 auto 0 auto;
  padding: 0 1ch 0 1ch;
  font-size: 32px;
  text-align: center;
  box-shadow: none;
}

.tableContainer {
  width: 100%;
  
}

.studentTable {
  width: 100%;
  margin: 0 10% 0 auto;
  
}

.tableBtn {
  @include btns($btnColor, $primaryTableColor )
}



.tableBtn:hover{
  background-color: $btnHoverColor;
  color: $btnColor;
}


table {

  
  
}

tbody {
  width: 100%;
  

  tr:nth-child(odd) {
    background-color: $secondaryTableColor;
    color: black;
  }

  tr:hover{
    background-color: $rowHoverColor;
  }
}

th {
  text-align: left;
  height: 4ch;
  border-collapse: collapse;
  padding-left: 2ch;
  border-radius: 15px;
}
 
tr {
  width: 100%;
}

td {
  text-align: left;
  height: 4ch;
  border-collapse: collapse;
  padding-left: 2ch;
  
}

.studentTable > th, td {
  // border: 1px solid black;
}