$shadow-color: #ffd500e0;
.class-nav-icon {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    width: 100%;
    justify-self: center;
    text-align: center;
    
  }
  .focused{
    filter: drop-shadow(0 0 10px $shadow-color);
  }

  p {
    width: 100%;
    padding-top: 0.5ch;
    font-size: small;
    padding-right: 2.5ch;
    text-align: center;
  }
}
