.posting-as {
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 1ch 0 0 1ch;
  justify-content: center;

  p {
    margin-right: 1ch;
  }

  .posting-as-button{
    justify-self: end;
    border-radius: 5px;
    padding-left: 2ch;
    padding-right: 2ch;
    
  }
}