$primary-color: #eec04b;
$secondary-color: #f3f3f3;
$hover-bgcolor:#19180a;
$hover-color: #f3f3f3;
 
.filter {
  display: flex;
  border: solid 1px black;
  width: 100%;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  
  

  input[type='checkbox'] {
    display: none;
  }

  h3 {
    width: 100%;
    padding-left: 0.5ch;
  }

  .checkbox {
    margin: collapse;
    background-color: $secondary-color;
    margin-top: -0.85ch;
    width: 100%;
    padding: 1.5ch;
    text-align: center;
  }

  .checkbox:hover {
    background-color: $hover-bgcolor;
    color:$hover-color;
  }
  .checked {
    background-color: $primary-color;
  }
}