.filter {
  display: flex;
  border: solid 1px black;
  width: 100%;
  border-radius: 15px;
  flex-flow: row wrap;
  align-items: baseline;

  input[type='checkbox']{
    display: inline-block;
    margin-left: 1rem;

  }
  label{
    margin-left: 0.5ch;
  }
  h3 {
    width: 100%;
  }

}