.discussion-post {
  // width: 60%;
  margin: auto;
  border: solid 2px black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;


  .text-area{
    margin: auto;
    width: 100%;
    border:none;
    padding: 1ch 0 0 1ch;
    height: auto;
    max-height: 45ch;

  }

  .post-button {
    background-color: aquamarine;
    width: 15%;
    align-self: flex-end;
    margin-left: 75%;
    margin-right: auto;
    border-radius: 10px;
  }
}

.wide {
  width: 85%;
}

.normal {
  width: 60%;
}